.spinner {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  margin-top: 60px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.loader{
    position: relative;
    z-index: 999;
    height: 5em;
    width: 8em;
    /*overflow: show;*/
    float: right;
    margin-top: 7em;
}


.arg-input{
    width: 2.8em;
    font-size: 20px;

}

.container{
    text-align: center;
    overflow: hidden;
}

.op_btn{
    font-size: 33px;
    width: .7em;
    height: 1.5em;
}

.line-seg{
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
}


#equation{
    text-align: center;
    border: none;
    margin: 0 auto;
    padding: 0;
}


header{
    height: 100%;
    text-align: center;
}


input{
    font-size: 100%;
    text-align: right;
    width: 5em;
}

body{
    background-color: #FFD464;
}

input, textarea{
    background-color: #F4F4F2;
    color: #30302F;
}

.sub-buts{
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    width: 8em;
}

.quad_submit{
    text-align: center;
    border: none;
    margin: 0 auto;
}

.solution_display{
    color: #30302F;
    font-size: 160%;
    text-align:center;
    margin:auto;
}

#wizhat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media (max-width: 500px){
    input{
        width: 3em;
    }
}